* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
header {
  display: flex;
  border-bottom: 1px solid lightgrey;
  height: 70px;
}
#wrapLogo {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 40%;
}
#wrapLogo img {
  max-width: 100%;
  height: 40px;
}
#wrapMenu {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
#menuNav {
 display: flex;
}
#menuNav li {
  list-style-type: none;
  padding-left: 30px;
  padding-right: 30px;
}
#menuNav li a{
 text-decoration: none;
 color: grey;
}
#btnMR {
  display: none;
}
/***MEDIA QUERY *****/
@media screen and (max-width: 1000px) {
  #menuNav {
    display: none;
  }
}
