* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Montserrat', sans-serif;
}
header {
  display: flex;
  border-bottom: 1px solid lightgrey;
  height: 70px;
}
#wrapLogo {
  display: flex;
  align-items: center;
  padding-left: 20px;
  width: 40%;
}
#wrapLogo img {
  max-width: 100%;
  height: 40px;
}
.wrapMenu {
  width: 60%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.apriMenu {
  display: flex;
  flex-direction: column;
  background-color: #2B3F58;
  position: absolute;
  top:0;
  left: 0;
  width: 100vW;
  height: 100vh;
}
.menuNav {
 display: flex;
}
.menuNavHamuberger {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: space-around;
  height: 100vh;
  padding-left: 15px;
}
.menuNav li {
  list-style-type: none;
  padding-left: 30px;
  padding-right: 30px;
}
.menuNav li a{
 text-decoration: none;
 color: grey;
}
.menuNavHamuberger li {
  list-style-type: none;
}
.menuNavHamuberger li a {
  color: #fff;
  font-size: 27px;
}
#btnMR {
  display: none;
}
.btnClose {
  display: none;
}
.btnCloseOpen {
  color: white;
  font-size: 40px;
  z-index: 1;
  position: absolute;
  top: 0;
  right: 0;
  padding-right: 20px;
  background-color: transparent;
  border: 0;
  cursor: pointer;
}
/***MEDIA QUERY *****/
@media screen and (max-width: 1000px) {
  .menuNav {
    display: none;
  }
  #btnMR {
    display: block;
    font-size: 30px;
    border: 0;
    padding-right: 30px;
    cursor: pointer;
  }
}
